In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv(r'C:\Users\ASUS\Desktop\Ma_ler\Dsets\titanic_train.csv')
x=df.drop(columns=['Survived','PassengerId','Name','Cabin','Ticket'])
y=df['Survived']
test=pd.read_csv(r'C:\Users\ASUS\Desktop\Ma_ler\Dsets\titanic.csv')
test_x=test.drop(columns=['PassengerId','Name','Cabin','Ticket'])
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [33]:
# Preproccessing
x.describe()
x.drop(columns=['Fare'],inplace=True)
x.notna().sum()
test_x.describe()
test_x.drop(columns=['Fare'],inplace=True)
test_x.notna().sum()

Pclass      418
Sex         418
Age         332
SibSp       418
Parch       418
Embarked    418
dtype: int64

In [34]:
#Filling missing values
T=x['Age'].mean()
x['Age']=x['Age'].apply(lambda k:T if pd.isna(k) else k)
x['Embarked']=x['Embarked'].apply(lambda k: x['Embarked'].mode(dropna=True) if pd.isna(k) else k)
x.notna().sum()
test_x['Age']=test_x['Age'].apply(lambda k:T if pd.isna(k) else k)
test_x['Embarked']=test_x['Embarked'].apply(lambda k: test_x['Embarked'].mode(dropna=True) if pd.isna(k) else k)
test_x.notna().sum()

Pclass      418
Sex         418
Age         418
SibSp       418
Parch       418
Embarked    418
dtype: int64

In [35]:
# encoding the data
from sklearn.preprocessing import LabelEncoder
model=LabelEncoder()
x['Embarked'] = x['Embarked'].astype(str)
x['Sex'] = x['Sex'].astype(str)
x['Embarked']=model.fit_transform(x['Embarked'])
model=LabelEncoder()
x['Sex']=model.fit_transform(x['Sex'])
x.head()
model=LabelEncoder()
test_x['Embarked'] = test_x['Embarked'].astype(str)
test_x['Sex'] = test_x['Sex'].astype(str)
test_x['Embarked']=model.fit_transform(test_x['Embarked'])
model=LabelEncoder()
test_x['Sex']=model.fit_transform(test_x['Sex'])
test_x.head()

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    1  34.5      0      0         1
1       3    0  47.0      1      0         2
2       2    1  62.0      0      0         1
3       3    1  27.0      0      0         2
4       3    0  22.0      1      1         2

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
params={'n_estimators':[10,50,100],'max_depth':[1,5,10,100],'max_features':[1,2,3,4,6],'max_samples':[5,10,50,100,250,500,750]}
model=RandomForestClassifier()
M=GridSearchCV(estimator=model,param_grid=params,n_jobs=-1,cv=10,scoring='accuracy',verbose=True)
res=M.fit(x,y)

Fitting 10 folds for each of 420 candidates, totalling 4200 fits

In [52]:
model=RandomForestClassifier(max_depth=5, max_features= 1, max_samples=750, n_estimators= 100)
model.fit(x,y)
t=pd.DataFrame(model.predict(test_x),columns=['Survived'])
t['PassengerId']=t.index+892
t.to_csv('Prediction.csv',index=False)